.login__form .forget_pass1 {
	font-size: 15px;
	color: #ffffff;
	display: inline-block;
	position: absolute;
	right: 60px;
	bottom: 12px;
	margin-left: 25px;
}

.login__form .forget_pass1 {
	position: relative;
	left: 0;
	bottom: 0;
	margin-top: 25px;
}